<div class="row">
    <h1 class="text-center">Hard & Soft skills</h1>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'HTML'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'CSS'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'JS'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'GitHub'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'Inglés'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
    <div class="text-center col-s-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        [subtitle]="'Trabajo Grupal'"
        [subtitleColor]="'aliceblue'"
        [titleColor]="'aliceblue'"
        [unitsColor]="'aliceblue'"
        ></circle-progress>
    </div>
</div>
