div {
    background-color: #A9CCE3;
}

app-social{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

 h1{
    display: inline;
    color: #EB984E;
    margin: 120px;
}

/* @media (max-width: 575px){
    .yoprogramo{
      flex-direction: column;
      text-align: center;
    }
  } */


