
    <img src="../../../assets/img/APLogo.png" alt="logoAP" title="LogoArgrntinaPrograma" id="logoAP">


<!-- <div class="row">
    <div class="img-logo">
        <img src="../../../assets/img/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
    </div>

    <div class="row">
        <div class="col">
          <a href="https://github.com/FabianLolo79" target="_blank">
             <img src="../../../assets/img/github.png" id="github">
          </a>
        </div>
        <div class="col">
          <a href="https://www.linkedin.com/in/fabianenriquegarcia/" target="_blank">
            <img src="../../../assets/img/linkedin.png" id="linkedin">
          </a>
        </div>
    </div>
 
</div> -->

<!-- <div class="grid">
        <div class="g-col-4">
            <img src="../../../assets/img/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        
    <div class="g-col-4">
        <a href="https://github.com/FabianLolo79" target="_blank">
            <img src="../../../assets/img/github.png" id="github">
        </a>
    </div>
    <div class="g-col-4">
        <a href="https://www.linkedin.com/in/fabianenriquegarcia/" target="_blank">
            <img src="../../../assets/img/linkedin.png" id="linkedin">
          </a>
    </div>
</div> -->