<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/4x4Nueva28.10.2021.jpg" class="img-fluid" id="imgPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">García, Fabián Enrique</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Odio corrupti voluptate iusto veniam officia nulla, hic aliquam.
              Ut autem impedit iusto ullam, qui libero nostrum voluptas fuga nisi facilis eligendi.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis tempora sint voluptatem 
              optio id aspernatur natus nihil quod nemo recusandae ipsam tempore reiciendis illo neque, dolores iusto, possimus animi. Possimus?
            </p>
        </span>
    </div>
</div>
